openapi: 3.0.1
x-stoplight:
  id: iwjfm2ftqckv9
info:
  title: Bill and Payment Management
  description: |-
    **<font color='#FF8C00'>API Maturity Level 2**



     
    This document contains all the apis related to bill and payment services (Consumer and Corporate)
  contact:
    email: m.salahuddin@mobily.com.sa
    name: Muhammad Azeemuddin
  version: 1.0.0
servers:
  - url: 'https://apidev.mobily.com.sa'
    description: Dev Environment
  - url: 'https://apisit.mobily.com.sa'
    description: SIT Environment
  - url: 'https://apipreprod.mobily.com.sa'
    description: Pre Production Environment
  - url: 'https://api.mobily.com.sa/apis'
    description: Production Environment
paths:
  /cem/dpc/core/v1/audit:
    post:
      summary: Audit payment transactions
      operationId: post-core-v1-audit
      responses:
        '200':
          $ref: '#/components/responses/200-AuditResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      description: "**Summary:**\n\n\t RESTful API for DPC - Responsible to audit the payment transaction updates performed by channel. Auditing is used for operational and reports purpose. \n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      parameters:
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Journey-Name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DPC-AuditRequest'
            examples:
              Audit Request (Authentication):
                value:
                  refId: SR_20211227000123_6724
                  operation: MPGS_AUTHENTICATION
                  requestDate: '2000-10-31T01:30:00'
                  statusMessage: SUCCESS
                  extraInfo: []
              Audit Request (OTP):
                value:
                  refId: SR_20211227000123_6724
                  operation: MPGS_OTP
                  requestDate: '2000-10-31T01:30:00'
                  statusMessage: SUCCES
                  extraInfo: []
        description: Audit transaction request
      tags:
        - Payment
  /cem/dpc/core/v1/processRequest:
    parameters: []
    post:
      summary: Process Request
      operationId: ProcessRequest
      responses:
        '200':
          $ref: '#/components/responses/DPC200-ProcessResponse'
        '260':
          $ref: '#/components/responses/DPC260-ProcessRequest-SummationError'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      description: "**Summary:**\n\n\t RESTful API for DPC - Process DPC (Digital Payment Component) core request based on operation in body .\n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      parameters:
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Journey-Name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DPC-ProcessRequest'
            examples:
              Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_InitiatePayment'
              Initiate Payment (Optic Fiber):
                $ref: '#/components/examples/DPC-ProcessRequest_InitiatePayment_Optic_Fiber'
              Initiate Request (PreSSA):
                $ref: '#/components/examples/DPC-ProcessRequest_InitiatePayment_PreSSA'
              Pay:
                $ref: '#/components/examples/DPC-ProcessRequest_Pay'
              Pay By ApplePayToken:
                $ref: '#/components/examples/DPC-ProcessRequest_PayByApplePayToken'
              Pay-Capture:
                value:
                  operation: PAY
                  refId: A2A335DFD3432
              Pay-Capture Tamara:
                value:
                  operation: PAY
                  refId: A2A335DFD3432
                  deliveryDate: '20240704163000'
              MNP Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_MNP_InitiatePayment'
              TOO (Transfer Of Ownership) Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_TOO_InitiatePayment'
              ESIM Enhancements( Pre Paid):
                $ref: '#/components/examples/DPC-ProcessRequest_ESIM_PREPAID_InitiatePayment'
              SSA With Absher:
                $ref: '#/components/examples/DPC-ProcessRequest_SSA_Absher_InitiatePayment'
              ESIM Enhancements( Post Paid):
                $ref: '#/components/examples/DPC-ProcessRequest_ESIM_POSTPAID_InitiatePayment'
              DDJ (Digital Devices Journey) Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_DDJ_InitiatePayment'
              DDJ & APPLE CARE (Digital Devices Journey MPGS) Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_DDJ_APPLE_CARE_MPGS_InitiatePayment'
              DDJ & APPLE CARE (Digital Devices Journey TAMARA) Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_DDJ_APPLE_CARE_TAMARA_InitiatePayment'
              Onetime Initiate Payment:
                $ref: '#/components/examples/DPC-ProcessRequest_Onetime_InitiatePayment'
              Cancel Payment:
                value:
                  operation: CANCEL_PAYMENT
                  refId: SR_20241114000321_7859
        description: ''
      tags:
        - Payment
  /cem/dpc/mpgs/v1/process:
    post:
      summary: MPGS Process
      operationId: performProcess
      responses:
        '200':
          $ref: '#/components/responses/DPC200-GatewayProcessResponse'
        '260':
          $ref: '#/components/responses/DPC260-mpgsSessionResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      parameters:
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Journey-Name'
      description: "**Summary:**\n\n\t RESTful API for DPC (Digital Payment Component) - Responsible to perform the MPGS Gateway process based on the operation.\n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DPC-GatewayProcessRequest'
            examples:
              Initiate Authentication:
                $ref: '#/components/examples/DPC-InitiateAuthenticationRequest'
              Authenticate Payer:
                $ref: '#/components/examples/DPC-AuthenticatePayerRequest'
              Create Session:
                value:
                  operation: MPGS_SESSION
                  refId: A2A335DFD3432
              Create ApplePay Session:
                value:
                  operation: MPGS_APPLEPAY_SESSION
                  refId: A2A335DFD3433
                  applePayURL: 'https://apple-pay-gateway.apple.com/paymentservices/startSession'
                  appDomain: mobily.com.sa
              Authorize:
                value:
                  operation: MPGS_AUTHORIZE
                  refId: A2A335DFD3432
                  authExpiryDate: 30-01-2023
              Capture - Internal:
                value:
                  operation: MPGS_CAPTURE
                  refId: A2A335DFD3432
              Capture Apple Pay - Internal:
                value:
                  operation: MPGS_APPLEPAY_CAPTURE
                  refId: SR_20240118120348_7672
              Void Transaction:
                value:
                  operation: MPGS_VOID
                  refId: A2A335DFD3432
              Batch Void:
                value:
                  operation: MPGS_BULK_VOID
                  transactions:
                    - refId: '1231233'
                    - refId: '1231234'
              Create Session - Token:
                value:
                  operation: MPGS_SESSION
                  refId: A2A335DFD3432
                  paymentType: TOKEN
                  paymentValue: YWZBrZRmNy
              Apple Pay authorized:
                value:
                  operation: MPGS_APPLEPAY_AUTHORIZE
                  refId: SR_20240118120348_7672
                  paymentAppleToken: '{"data":"xxxxxxxxxx","signature":"xx/","header":{"publicKeyHash":"xxx","ephemeralPublicKey":"xxxx","transactionId":"xxxxx"},"version":"EC_v1"}'
      tags:
        - Payment
  /cem/dpc/inquiry/v1/saved-card:
    get:
      summary: Saved cards
      operationId: get-inquiry-v1-saved-card
      responses:
        '200':
          $ref: '#/components/responses/DPC200-SavedCardResponse'
        '260':
          $ref: '#/components/responses/DPC260-ApplePaySessionResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/X-Journey-Name'
      description: "**Summary:**\n\n\t RESTful API for DPC (Digital Payment Component) - Used to retrieve the list of saved cards (Payment tokens) information. \n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      tags:
        - Payment
  '/cem/dpc/mpgs/v1/batch-status/{batchName}':
    get:
      summary: Retrieve Batch Status
      responses:
        '200':
          $ref: '#/components/responses/DPC200-BatchResponse'
        '260':
          $ref: '#/components/responses/DPC260-BatchStatusResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      operationId: get-inquiry-v1-batch-status
      description: "**Summary:**\n\n\t RESTful API for DPC (Digital Payment Component) - Retrieve the current status of the batch processing. \n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      parameters:
        - schema:
            type: string
          in: query
          name: batchName
          description: Unique name for the batch
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/X-Journey-Name'
      tags:
        - Payment
    parameters:
      - schema:
          type: string
        name: batchName
        in: path
        required: true
        description: Unique name for the batch
  '/cem/dpc/mpgs/v1/batch-response/{batchName}':
    get:
      summary: Retrieve Batch Response
      responses:
        '200':
          $ref: '#/components/responses/DPC200-BatchFinalResponse'
        '260':
          $ref: '#/components/responses/DPC260-BatchStatusResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      operationId: get-inquiry-v1-batch-response
      parameters:
        - schema:
            type: string
          in: query
          name: batchName
          description: Unique name for the batch
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Journey-Name'
      description: "**Summary:**\n\n\t RESTful API for DPC (Digital Payment Component) - Retrieve result of each of the uploaded operations in Batch Response.\n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      tags:
        - Payment
    parameters:
      - schema:
          type: string
        name: batchName
        in: path
        required: true
        description: Unique name for the batch
  '/cem/dpc/inquiry/v1/request/{refId}':
    get:
      summary: Retrieve payment request details
      responses:
        '200':
          $ref: '#/components/responses/DPC200-PaymentDetailsResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      operationId: get-inquiry-v1-request
      description: "**Summary:**\n\n\t RESTful API for DPC (Digital Payment Component) - Retrieve payment request details. \n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      parameters: []
      tags:
        - Payment
    parameters:
      - schema:
          type: string
        name: refId
        in: path
        required: true
        description: Payment Transaction Id
  /cem/dpc/tamara/v1/process:
    post:
      summary: Tamara Process
      operationId: tamaraProcess
      responses:
        '200':
          $ref: '#/components/responses/TAMARA200-GatewayProcessResponse'
        '260':
          $ref: '#/components/responses/DPC260-tamaraSessionResponse'
        '400':
          $ref: '#/components/responses/CEM400-Error-Response'
        '401':
          $ref: '#/components/responses/CEM401-Error-Response'
        '403':
          $ref: '#/components/responses/CEM403-Error-Response'
        '404':
          $ref: '#/components/responses/CEM404-Error-Response'
        '405':
          $ref: '#/components/responses/CEM405-Error-Response'
        '500':
          $ref: '#/components/responses/CEM500-Error-Response'
        '502':
          $ref: '#/components/responses/CEM502-Error-Response'
        '504':
          $ref: '#/components/responses/CEM504-Error-Response'
      parameters:
        - $ref: '#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/X-Source-Channel'
        - $ref: '#/components/parameters/X-Transaction-Id'
        - $ref: '#/components/parameters/cem-key'
        - $ref: '#/components/parameters/X-Journey-Name'
      description: "**Summary:**\n\n\t RESTful API for DPC (Digital Payment Component) - Responsible to perform the Tamara Gateway process based on the operation.\n\n\n**URLs:**\n\n  \n * **Dev**\n      * https://mobily-cem.apps.esale-dev.prod.mobily.lan\n\n * **sit**\n      * https://mobily-cem.apps.esale-sit.prod.mobily.lan\n\n * **PP**\n      * https://mobily-cem.apps.esale-pp.prod.mobily.lan\n\n * **Prod**\n      * https://mobily-cem.apps.cem.prod.mobily.lan\n\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SH-TAMARA-Operations'
            examples:
              Create Session:
                $ref: '#/components/examples/TAMARA-Create_Session_Request'
              Authorize Tamara Order:
                value:
                  operation: TAMARA_AUTHORIZE_ORDER
                  refId: SR_2312124124124_4344
                  tamaraStatus: xxxx
              Capture Tamara Order:
                value:
                  operation: TAMARA_CAPTURE_ORDER
                  refId: SR_2312124124124_4344
                  deliveryDate: '20240704163000'
              Cancel Tamara Order:
                value:
                  operation: TAMARA_CANCEL_ORDER
                  refId: SR_2312124124124_4344
              Get Order Details:
                value:
                  operation: TAMARA_ORDER_DETAILS
                  refId: SR_2312124124124_4344
      tags:
        - Payment
  /mobilybe/rest/payment/card/list:
    post:
      deprecated: true
      summary: RetrieveCardList
      operationId: post-card-list
      responses:
        '200':
          $ref: '#/components/responses/CardList'
      description: |
        **Summary**

        Retrieve Card List
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveCardListRequest'
            examples:
              Request:
                $ref: '#/components/examples/RetrieveCardListRequest'
      tags:
        - Legacy Payment
  /mobilybe/rest/payment/tokenList:
    post:
      deprecated: true
      summary: RetrieveTokenList
      operationId: post-token-list
      responses:
        '200':
          $ref: '#/components/responses/200-PaymentTokenListResponse'
      description: |
        **Summary**

        Retrieve Token List
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
            examples:
              Request:
                $ref: '#/components/examples/GenericRequest'
      tags:
        - Legacy Payment
  /mobilybe/rest/usage/details/list:
    post:
      deprecated: true
      tags:
        - B2C Bill and Payment
      description: "**Summary:**\n\n\tMethod used for Retrieve Usage Details List.\n\n"
      summary: Retrieve Usage Details List
      operationId: post-details-list
      responses:
        '200':
          $ref: '#/components/responses/RetrieveUsageDetailsListResponse'
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveUsageDetailsListRequest'
            examples:
              Retrieve Usage Details List Request:
                $ref: '#/components/examples/RetrieveUsageDetailsListRequestExample'
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          required: true
        - schema:
            type: string
          in: header
          name: cem-key
  /mobilybe/rest/oth/credit/transfer:
    post:
      tags:
        - B2C Bill and Payment
      description: "**Summary:**\n\n\tMethod used for Credit Transfer.\n\n\n**Impacted Services:**\n\n  \n * **DB Tables:**\n      * EEDBUSR.SR_CREDIT_TRANSFER_TBL.\n\n"
      summary: Credit Transfer
      operationId: post-credit-transfer
      responses:
        '200':
          $ref: '#/components/responses/CreditTransferResponse'
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          required: true
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditTransferRequest'
            examples:
              Credit Transfer Request:
                $ref: '#/components/examples/CreditTransferRequestExample'
        description: ''
  /mobilybe/rest/oth/credit/transfer/confirm:
    post:
      tags:
        - B2C Bill and Payment
      description: "**Summary:**\n\n\tMethod used for Credit Transfer Confirm.\n\n\n**Impacted Services:**\n\n  \n\n  * **EAI MQ:**\n     * MOBILY.FUNC.CREDITTRANSFER.ADAPTER.REQUEST.\n     * EPORTAL.FUNC.CREDITTRANSFER.REPLY.  \n \n\n * **Search Keyword in request XML:**\n\n      * CREDIT_TRANSFER. \n\n"
      summary: Credit Transfer Confirm
      operationId: post-credit-transfer-confirm
      responses:
        '200':
          $ref: '#/components/responses/CreditTransferConfirmRespons'
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          required: true
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditTransferConfirmRequest'
            examples:
              Credit Transfer Confirm Request:
                $ref: '#/components/examples/CreditTransferConfirmRequestExample'
  /api/payment/v2/createSession:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Create Payment Session
      operationId: createSession
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
            examples:
              Create Session:
                $ref: '#/components/examples/CreateSessionRequest'
              Create Session with Token:
                $ref: '#/components/examples/CreateSessionRequestToken'
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/CreateSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to create the payment session with Payment gateway(Bank). Service is used for Mobile App channel only.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n\n\n**Used By:**\n  * Mobile App"
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          description: Unique correlation id of the journey
          name: X-Correlation-Id
    parameters: []
  /api/payment/v3/createSession:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Create Payment Session (New Stack)
      operationId: createSessionNS
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
            examples:
              Create Session:
                $ref: '#/components/examples/CreateSessionRequest'
              Create Session with Token:
                $ref: '#/components/examples/CreateSessionRequestToken'
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/CreateSession'
        '400':
          $ref: '#/components/responses/400-InvalidAmount-Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to create the payment session with Payment gateway(Bank). Service is used for Mobile App channel only.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n\n\n**Used By:**\n  * Mobile App"
      parameters:
        - $ref: '#/components/parameters/cem-key'
    parameters: []
  /api/payment/v2/createApplePaySession:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Create Apple Pay Session
      operationId: createApplePaySession
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePaySessionRequest'
            examples:
              Create Session:
                $ref: '#/components/examples/ApplePaySessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateApplePaySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to create the Apple Pay session with Apple Pay. Service is used for Portal channel only.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n * Portal\n\n\n**Used By:**\n  * Portal"
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
          required: true
          description: Channel Engagement Manager Key
        - schema:
            type: string
          in: header
          name: X-Correlation-Id
          description: Unique correlation id of the journey
    parameters: []
  /api/payment/v3/createApplePaySession:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Create Apple Pay Session (New Stack)
      operationId: createApplePaySessionNS
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePaySessionRequest'
            examples:
              Create Session:
                $ref: '#/components/examples/ApplePaySessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateApplePaySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to create the Apple Pay session with Apple Pay. Service is used for Portal channel only.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n * Portal\n\n\n**Used By:**\n  * Portal"
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
          required: true
          description: Channel Engagement Manager Key
    parameters: []
  /api/payment/v2/audit:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Audit Payment transaction updates
      operationId: auditPaymentUpdates
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditPaymentRequest'
            examples:
              Session Update:
                $ref: '#/components/examples/AuditPaymentRequest'
        description: Update transaction status request
      responses:
        '200':
          $ref: '#/components/responses/AuditPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to audit the payment transaction updates performed by channel. Auditing is used for operational and reports purpose.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n      \n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n\n\n**Used By:**\n  * Mobile App"
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          description: Unique correlation id of the journey
          name: X-Correlation-Id
    parameters: []
  /api/payment/v2/initiateAuthentication:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Initiate Authentication
      operationId: initiateAuthentication
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateAuthenticateRequest'
            examples:
              Card Payment:
                $ref: '#/components/examples/CardPaymentAuth'
              Token Payment:
                $ref: '#/components/examples/TokenPaymentAuth'
        description: Initiate Authentication request
      responses:
        '200':
          $ref: '#/components/responses/InitiatePayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to call INITIATE_AUTHENTICATION MPGS API and return HTML to frontend which is required for execution required for 3DS2.\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Portal\n\n\n**Used By:**\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          name: X-Correlation-Id
          description: Unique correlation id of the journey
    parameters: []
  /api/payment/v3/initiateAuthentication:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Initiate Authentication (New Stack)
      operationId: initiateAuthenticationNS
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateAuthenticateRequest'
            examples:
              Card Payment:
                $ref: '#/components/examples/CardPaymentAuth'
              Token Payment:
                $ref: '#/components/examples/TokenPaymentAuth'
        description: Initiate Authentication request
      responses:
        '200':
          $ref: '#/components/responses/InitiatePayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to call INITIATE_AUTHENTICATION MPGS API and return HTML to frontend which is required for execution required for 3DS2.\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Portal\n\n\n**Used By:**\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/cem-key'
    parameters: []
  /api/payment/v2/createPayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Create Payment
      operationId: createPayment
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              Card Payment:
                $ref: '#/components/examples/CardPayment'
              Token Payment:
                $ref: '#/components/examples/TokenPayment'
        description: Create payment request
      responses:
        '200':
          $ref: '#/components/responses/CreatePayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to perform the 3D enrollment with bank for New Card and Token (Saved Card) payment. Service returns the Bank OTP HTML page for Card and Token Payment. If payemnt is Apple pay then payment process performed competely and payment status returned instead of Bank OTP page.\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n * Portal\n\n\n**Used By:**\n  * Mobile App\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          name: X-Correlation-Id
          description: Unique correlation id of the journey
    parameters: []
  /api/payment/v3/createPayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Create Payment (New Stack)
      operationId: createPaymentNS
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              Card Payment:
                $ref: '#/components/examples/CardPayment'
              Token Payment:
                $ref: '#/components/examples/TokenPayment'
        description: Create payment request
      responses:
        '200':
          $ref: '#/components/responses/CreatePayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to perform the Payer Authentication with bank for New Card and Token (Saved Card) payment. Service returns the Bank OTP Challenge HTML page for Card and Token Payment. If payemnt is Apple pay then payment process performed competely and payment status returned instead of Bank OTP page.\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n * Portal\n\n\n**Used By:**\n  * Mobile App\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/cem-key'
    parameters: []
  /api/payment/v2/confirmPayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Confirm Payment
      operationId: confirmPayment
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentRequest'
            examples:
              Confirm Payment:
                $ref: '#/components/examples/ConfirmPaymentRequest'
        description: Confirm payment request
      responses:
        '200':
          $ref: '#/components/responses/ConfirmPayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to Complete the payment process for Card and Token Payments. Here is the actions performed by the service: parse bank Response, EAI call (3D Payment), Process authentication with Bank, Pay call with bank, update payemnt status to EAI.\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * MOBILY.FUNC.3D.PAYMENT.REQ\n      * MOBILY.FUNC.UPDATE.PAYMENT.STATUS.REQ\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n * Portal\n\n\n**Used By:**\n  * Mobile App\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          name: X-Correlation-Id
          description: Unique correlation id of the journey
    parameters: []
  /api/payment/v3/confirmPayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Confirm Payment (New Stack)
      operationId: confirmPaymentNS
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentRequest'
            examples:
              Confirm Payment:
                $ref: '#/components/examples/ConfirmPaymentRequest'
        description: Confirm payment request
      responses:
        '200':
          $ref: '#/components/responses/ConfirmPayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      description: "**Summary:**\n\n\t Responsible to Complete the payment process for Card and Token Payments. Here is the actions performed by the service: parse bank Response, EAI call (Payment Initiation), Process authentication with Bank, Pay call with bank, update payemnt status to EAI.\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA      \n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Mobile App\n * Portal\n\n\n**Used By:**\n  * Mobile App\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/cem-key'
    parameters: []
  /api/payment/v1/bill/dues-penalty:
    get:
      tags:
        - Payment
      summary: Get the calculated total amount(s) related to bill and penality (including device installment amount) based on the input choice.
      description: |
        **Summary:**
        This API is responsible to get the calculated total amount(s) related to bill and penality (including device installment amount) based on the input choice.

        This API is only accessible to the below mentioned login types during Oauth access token generation.
          * account
          * account-authenticated

        **Impacted Services:**

          **EAI MQ:**

            MOBILY.INQ.BALANCEINQ.REQUEST (**MsgFormat :** BALANCE_INQ) - For Bill information inquiry
          
          **DP API:**

            LineDisconnectPenaltyV1 (/v1/dp/iib/ldpenalty) - For Penalty information inquiry

          **DB Tables:**

          N/A
      parameters:
        - schema:
            type: string
            example: '966540510521'
          in: header
          name: lineNumber
          required: true
          description: Line number/Related line number of the customer for which the bill outstanding and penalty inquiry to be done
        - schema:
            type: boolean
            enum:
              - true
              - false
            example: false
            default: false
          in: query
          name: includePenaltyAmt
          description: 'Customer penalty amount information required or not. if the value is false, then it will provice the billamount information only.'
        - schema:
            type: string
            enum:
              - EPOR
              - MAPP
            default: EPOR
          in: header
          name: channel
          description: Requester Channel
          required: true
        - name: lang
          in: query
          schema:
            example: en
            enum:
              - en
              - ar
            type: string
            default: en
          description: Customer's current locale. Default will be english (en)
        - $ref: '#/components/parameters/cem-key'
      deprecated: false
      operationId: getDueAndPenalty
      responses:
        '200':
          $ref: '#/components/responses/BillDuePenaltyAmountsResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      security:
        - Authorization: []
  /api/payment/v3/overdue:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Retrieve the Over Due amount with discuount information.
      description: '<b>Description:</b>Get the customer Over due amount with or witout discounts based on the eligibility from backend service.<br><br> <b>Impacted Services:&nbsp;</b> <ul> <li>EAI MQ:&nbsp; <font color=''#075590''>MOBILY.FUNC.SEND.NOTIFICATIONS.REQ</font></li> (CUSTOMER_ACCOUNTS_INQUIRY_PLUS_OVERDUES) <li>DB tables:&nbsp;<font color=''#075590''> eedbusr.OVERDUE_WHITELIST_TBL </font></li> </ul>'
      operationId: getOverDueAmountWithDiscount
      security:
        - Authorization: []
      parameters:
        - name: idNumber
          in: query
          description: 'Customer ID Number, mandatory in case of Client credentials authentication like idNumber = 1001110111'
          schema:
            type: string
          example: '1001110111'
        - $ref: '#/components/parameters/cem-key'
      responses:
        '200':
          $ref: '#/components/responses/OverDueResponseV3'
        '401':
          $ref: '#/components/responses/Overduev3_Unauthorized_401'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
    parameters: []
  /api/payment/v4/overdue:
    get:
      tags:
        - Payment
      summary: Retrieve the Over Due amount with discount information and return limited information to the callers.
      description: '<b>Description:</b>Get the customer Over due amount with or witout discounts based on the eligibility from backend service. This API will return the limited information based on the current channels requirement.<br><br> <b>Impacted Services:&nbsp;</b> <ul> <li>EAI MQ:&nbsp; <font color=''#075590''>MOBILY.FUNC.SEND.NOTIFICATIONS.REQ</font></li> (CUSTOMER_ACCOUNTS_INQUIRY_PLUS_OVERDUES) <li>DB tables:&nbsp;<font color=''#075590''> eedbusr.OVERDUE_WHITELIST_TBL </font></li> </ul>'
      deprecated: false
      operationId: getOverDueAmountWithDiscountV4
      security:
        - Authorization: []
      parameters:
        - name: idNumber
          in: query
          description: 'Customer ID Number, mandatory in case of Client credentials authentication like idNumber = 1001110111'
          schema:
            type: string
          example: '1001110111'
        - $ref: '#/components/parameters/cem-key'
      responses:
        '200':
          $ref: '#/components/responses/OverDueResponseV4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
    parameters: []
  /api/payment/v2/saved-cards:
    get:
      summary: Get list of payment tokens (Saved cards)
      tags:
        - Payment
      responses:
        '200':
          $ref: '#/components/responses/TokenListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      security:
        - Authorization: []
      operationId: getTokens
      description: "**Summary:**\n\n\t Used to retrieve the list of saved cards (Payment tokens) information.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * NA\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  \n**Supported Channels:**\n * Portal\n * Mobile App\n\n\n**Used By:**\n  * Portal\n  * Mobile App"
      parameters:
        - schema:
            type: string
            enum:
              - MAPP
              - EPOR
            example: MAPP
          in: header
          name: Channel
          description: Requester Channel
          required: true
        - schema:
            type: string
            enum:
              - EN
              - AR
            example: EN
          in: header
          name: Lang
          description: Requester Language
          required: true
        - schema:
            type: string
            example: SR_273647_768768
            minLength: 10
            maxLength: 50
          in: header
          name: TransactionID
          description: Alpha numeric Unique transaction id to identify the request
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          name: X-Correlation-Id
          description: Unique correlation id of the journey
    parameters: []
  /api/payment/v2/initiatePayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Initiate Payment.
      description: "**Summary:**\n\n\t Responsible to initiate the payment process and generate the payment transaction id.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Portal\n * Mobile App\n\n\n**Used By:**\n  * Portal\n  * Mobile App"
      operationId: initiatePaymentV2
      security:
        - Authorization: []
      responses:
        '200':
          $ref: '#/components/responses/InitiatePaymentResponseV2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymetnRequestV2'
            examples:
              Physical SIM Payment:
                $ref: '#/components/examples/PhysicalSIMPaymentV2'
              Physical SIM Payment - COD:
                $ref: '#/components/examples/PhysicalSIMV2-COD'
              Physical SIM Swap:
                $ref: '#/components/examples/SIMSwapPhysicalSIMV2'
              eSIM Payment:
                $ref: '#/components/examples/eSIMPaymentV2'
              eSIM Prepaid Bundles Payment:
                $ref: '#/components/examples/eSIMBundlePaymentV2'
              eSIM SWAP Payment:
                $ref: '#/components/examples/eSIMSwapPaymentV2'
              FTTH Activation Payment:
                $ref: '#/components/examples/FTTHPaymentV2'
              ColdSIM SSA Payment:
                $ref: '#/components/examples/ColdSIMSSAPaymentV2'
              ColdSIM SSA Prepaid bundles Payment:
                $ref: '#/components/examples/ColdSIMSSAPaymentPrepaidBundleV2'
              MNP Physical SIM:
                $ref: '#/components/examples/MNPPhysicalSIMV2'
              MNP eSIM Payment:
                $ref: '#/components/examples/MNPeSIMPaymentV2'
              NS PACKAGE CONVERSION:
                $ref: '#/components/examples/nsPackageConversion'
        description: Initiate Payment request
      parameters:
        - $ref: '#/components/parameters/cem-key'
        - schema:
            type: string
          in: header
          name: X-Correlation-Id
          description: Unique correlation id of the journey
    parameters: []
  /api/payment/v3/initiatePayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Initiate Payment (New Stack)
      description: "**Summary:**\n\n\t Responsible to initiate the payment process to support new stack direction where it will support the following\n           * initate payment for order id (Cart ID)\n           * Initate Payment for Invoice / Adjustment\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * eedbusr.PAYMENT_3D_AUDIT_V2\n      * eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2\n      * eedbusr.PAYMENT_3D_AUDIT_DETAILS\n      * eedbusr.PAYMENT_3D_AUDIT_CUSTOMER\n      * eedbusr.PAYMENT_ACTIONS_AUDIT_TBL\n\n**Supported Digital OAuth Authentications:**\n  * Password Login\n  * Acccouunt authenticated\n  * client credentials\n  * client credentials with msisdn\n  * OTP\n  \n**Supported Channels:**\n * Portal\n * Mobile App\n\n\n**Used By:**\n  * Portal\n  * Mobile App"
      operationId: initiatePaymentV3
      security:
        - Authorization: []
      responses:
        '200':
          $ref: '#/components/responses/InitiatePaymentResponseV2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymetnRequestV2'
            examples:
              New Stack Product Order:
                $ref: '#/components/examples/NSProductOrderPayment'
              New Stack Invoice Payment:
                $ref: '#/components/examples/NSInvoicePayment'
              New Stack Adjustment Payment:
                $ref: '#/components/examples/NSAdjustmentPayment'
              New Stack Package Conversion:
                $ref: '#/components/examples/NSPackageConversion'
        description: Initiate Payment request with New Stack
      parameters:
        - $ref: '#/components/parameters/cem-key'
    parameters: []
  /api/bill/v1/pdf/latest:
    get:
      summary: Returns the latest bill pdf information in the form of Base64 format.
      tags:
        - B2C Bill and Payment
      responses:
        '200':
          $ref: '#/components/responses/200-BillPDF-Response'
        '260':
          $ref: '#/components/responses/260-No-Bills-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      operationId: getLatestBillPDF
      description: "**Summary:**\n\n\tFetches the latest bill pdf information in the form of Base64 format for the MSISDN/SAN attached to the provided authorization token.\n\n\tIf the bill belongs to the Old Stack, will fetch the bill pdf through the DMS system using a web service API. Otherwise, if the bill belongs to the New Stack, will fetch the bill pdf through the SV system using a REST API.\n\n\n\n**Impacted Services:**\n\n  * **EAI MQ:** To Get Bill List\n      * MOBILY.INQ.LAST.BILLS.REQ.DAPI { RequestorChannelFunction:- LastBillsInq}\n\n  * **DMS Web Service:** For PDF Download\n \t\t \t\t <table><tr><td>**Production:**</td><td>http://eecsaruh6hor143:9081/BillsDocuments/ResendBillService</td></tr><tr><td>**Pre-production:**</td><td>http://eecsaruh2hor147:9080/BillsDocuments/ResendBillService</td></tr><tr><td>**SIT / SIT2:**</td><td>http://eecsaruh2hor147:9080/BillsDocuments/ResendBillService</td></tr><tr><td>**Development:**</td><td>http://eecsaruh2hor147:9080/BillsDocuments/ResendBillService</td></tr></table> \n \t\t \t\t \n  * **SV REST API:** For PDF Download\n \t\t \t\t <table><tr><td>**Production:**</td><td>https://apis-newst-1d0e6072-gateway-newstack-prod.apps.esb-prod.prod.mobily.lan/newstack-prod-org/sandbox/v1/mip/sv/customerBillManagement/customerBill?billNo={{id}}&serviceName={{msisdn}}</td></tr><tr><td>**Pre-production:**</td><td>https://apis-newstack-pp.apps.esb-pp.prod.mobily.lan/newstack-pp-org/sandbox/v1/mip/sv/customerBillManagement/customerBill?billNo={{id}}&serviceName={{msisdn}}</td></tr><tr><td>**SIT / SIT2:**</td><td>https://apis-newst-673ddb5f-gateway-newstack-sit.apps.ebs-nonprd.prod.mobily.lan/newstack-sit-org/sandbox/v1/mip/sv/customerBillManagement/customerBill?billNo={{id}}&serviceName={{msisdn}}</td></tr><tr><td>**Development:**</td><td>https://apic-newst-aed7977-gateway-newstack-dev.apps.ebs-nonprd.prod.mobily.lan/newstack-dev-org/sandbox/customerBill?billNo={{id}}&serviceName={{msisdn}}</td></tr></table> \n\n**Supported Authentications:**\n  * account \n * account-authenticated \n \n * otp \n * client_credentials_with_msisdn\n\n\n**Supported Channels:**\n * Portal\n * Mobile App\n\n**Used By:**\n  * Portal\n"
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/cem-key'
  /mobilybe/rest/ftth/balanceOrOutstanding:
    post:
      tags:
        - Payment
      summary: Balance or Outstanding Amount
      operationId: post-balanceOrOutstanding
      responses:
        '200':
          $ref: '#/components/responses/FTTHOutstandingBalanceResponse'
      description: "**Summary:**\n\n\tBalance or Outstanding Amount\n\t\n**Impacted Services:**\n\n   * **EAI MQ:**\n      * MOBILY.INQ.BALANCEINQ.REQUEST\n      * EPORTAL.INQ.BALANCEINQ.REPLY\n\n      \n  * ** Search Keyword in request XML:**\n      * BILL_INQ\n      * BALANCE_INQ\n"
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          description: User_id of current user
          required: true
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FTTHOutstandingBalanceRequest'
            examples:
              Request:
                $ref: '#/components/examples/FTTHOutstandingBalanceRequest'
  /mobilybe/rest/ftth/bandwidth:
    post:
      tags:
        - Payment
      summary: Bandwidth
      operationId: post-bandwidth
      responses:
        '200':
          $ref: '#/components/responses/FTTHBandwidthResponse'
      description: "**Summary:**\n\n\tBandwidth\n\t\n**Impacted Services:**\n\n   * **EAI MQ:**\n      * For postpaid:\n      *  MOBILY.FUNC.WSGATEWAY.REQ\n      *  EPORTAL.FUNC.WSGATEWAY.REP\n      * For prepaid:\n      *  MOBILY.FUNC.BAYANAT.AR.INQ\n      *  EPORTAL.FUNC.BAYANAT.AR.INQ.REPLY\n      \n  * ** Search Keyword in request XML:**\n      * GetServiceAccountAssetsAll- for postpaid\n      * WiMAX_ARCI - for prepaid\n"
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          description: User id of current user.
          required: true
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FTTHOutstandingBalanceRequest'
            examples:
              Request:
                $ref: '#/components/examples/FTTHOutstandingBalanceRequest'
  /api/balance/v1/free:
    get:
      deprecated: true
      tags:
        - B2C Bill and Payment
      summary: Retrieving Customer Balance Free
      responses:
        '200':
          $ref: '#/components/responses/FreeBalanceResponse'
        '401':
          $ref: '#/components/responses/Status'
      operationId: get-free-balance
      description: |-
        **Summary:**

        This method used to retrieving customer balance free.
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
  /api/my-balance/v1/prepaid-line-status:
    get:
      tags:
        - B2C Bill and Payment
      summary: Inquiry Customer Balance to know the prepaid line status (Active or Inactive)
      responses:
        '200':
          $ref: '#/components/responses/200-PrepaidLineStatus-Response'
        '260':
          $ref: '#/components/responses/260-Only-for-prepaid-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      description: "**Summary:**\n\n\tIn current Implementation of recharging of Mobily Customer’s prepaid number, Inactive prepaid numbers are allowed to receive recharge payment but without activating the prepaid number. So, this API will help in prevention of inactive Mobily prepaid number to receive any payment to recharge any actual inactive number.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * MOBILY.INQ.BALANCEINQ.REQUEST.DAPI {**MsgFormat:** BALANCE_INQ; **MsgVersion:** 0002;}\n\n\n  * **DB Tables:**\n      * N/A\n\n**Supported Authentications:**\n  * Password Login\n  * Client Credentials With Msisdn \n  * OTP\n  * Account Login\n  * Client Credentials\n\n\n**Supported Channels:**\n  * Portal\n* Mobile App\n* Chatbot\n\n**Used By:**\n  * Portal\n* Mobile App\n* Chatbot\n  \n"
      operationId: isPrepaidLineActive
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
          required: true
          example: X0Ixfq4dSWtAxg7YMkFtm23wsV31GLDvder
          description: Respective channel engagement key
        - schema:
            type: string
          in: query
          name: msisdn
          description: Mobile Number for which the status needs to be know.
          required: true
          example: '966540510521'
    parameters: []
  /api/corpbilling/bills/v1/lastbills:
    get:
      summary: Individual Lines Last bills
      tags:
        - B2B Bill and Payment
      responses:
        '200':
          $ref: '#/components/responses/200-BillsInq-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      operationId: getLastBills
      description: "**Summary:**\n\n\t Retrieves the bills information for given line. Service retrieves the bills using MSISDN or Service Account Number. \n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * MOBILY.INQ.LAST.BILLS.REQ (MsgFormat - LastBillsInq)\n\n  * **DB Tables:**\n      * NA\n\n**Supported Authentications:**\n * Password Login\n * Account authenticated\n\n**Supported Channels:**\n * Mobile App\n * Portal\n \n**Used By:**\n  * Mobile App"
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/referenceId'
        - schema:
            type: integer
            example: 12
            maximum: 12
            minimum: 1
          in: query
          name: billsCount
          description: Number of bills required. Default value is 12.
        - schema:
            type: string
            example: '10002423432444'
          in: query
          name: san
          description: Service Account Number . Mandatory for Non GSM / SIP basic lines to get the Bills
        - schema:
            type: string
          in: query
          name: msisdn
          description: Mobile Number. Mandatory for GSM lines to get the bills.
        - schema:
            type: string
          in: header
          name: cem-key
  /api/corpbilling/bills/v1/usage:
    get:
      summary: Individual Line Usage details
      tags:
        - B2B Bill and Payment
      responses:
        '200':
          $ref: '#/components/responses/200-Usage-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      operationId: getUsageDetails
      description: "**Summary:**\n\n\t Retrieves the usage information for given bill. Usage informaiton can be either billed or un billed information. Un billed fetched from BRM DB and billed from Digital Invoice DB.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * NA\n\n  * **DB Tables:**\n      * INVOICE_DETAILS\n      * SERVICE_DETAILS\n      * CALL_HISTORY_DETAILS\n\n**Supported Authentications:**\n * Password Login\n * Account authenticated\n\n**Supported Channels:**\n * Mobile App\n * Portal\n \n**Used By:**\n  * Mobile App"
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/referenceId'
        - schema:
            type: string
            enum:
              - UNBILLED
              - BILLED
            example: BILLED
          in: query
          name: usage
          description: 'Usage Items to be retrieved, either Billed or unbilled details.'
          required: true
        - schema:
            type: string
            example: '11380118045'
            maximum: 12
            minimum: 1
          in: query
          name: billnumber
          description: Bill Number to get the invoice details of billed invoices. Bill Number is mandatory in case of BILLED items are required.
        - schema:
            type: string
            example: '10002423432444'
          in: query
          name: san
          description: Service Account Number. Mandatory for un billed invoice details of Non GSM / SIP lines.
        - schema:
            type: string
            example: '966544543533'
          in: query
          name: msisdn
          description: GSM Mobile Number. Mandatory for un billed invoice details of GSM lines.
        - schema:
            type: string
          in: header
          name: cem-key
  /api/corpbilling/bills/v2/usage:
    get:
      summary: Individual Line Usage details
      tags:
        - B2B Bill and Payment
      responses:
        '200':
          $ref: '#/components/responses/200-Usage-V2-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      operationId: getUsageSummaryDetails
      description: "**Summary:**\n\n\t Retrieves the usage information for given SAN.\n\n\n**Impacted Services:**\n\n **DB Tables:**\n      * BILLDB.CALL_USAGE_SUMMARY_DETAIL\n      \n **Stored Procedure:**\n      * BILLDB.SYNC_CALL_USG_SUMMARY_DETAIL_SP\n      \n**Supported Authentications:**\n * Password Login\n * Account authenticated\n\n**Supported Channels:**\n * Mobile App\n * Portal\n \n**Used By:**\n  * Portal"
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/referenceId'
        - schema:
            type: string
            example: '10002423432444'
          in: query
          name: san
          description: Service Account Number.
          required: true
        - schema:
            type: string
            example: '966544543533'
          in: query
          name: msisdn
          description: GSM Mobile Number
        - schema:
            type: string
          in: header
          name: cem-key
        - $ref: '#/components/parameters/calltype'
        - $ref: '#/components/parameters/tenure'
        - $ref: '#/components/parameters/callednumber'
  /api/payment/v1/3rd/getPaymentDetails:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Get Payment Details
      description: '<b>Description:</b> This API used by 3rd Party to Get payment details by sending payment transaction id then return payment status, client can search for the transaction created by him only<br><br> <b>Impacted Services:&nbsp;</b> <ul> <li>EAI MQ:&nbsp; <ul> <li><font color=''#075590''>No XML over MQ Calls</font> </li> </ul> </li> <li>DB tables:&nbsp; <ul> <li><font color=''#075590''> eedbusr.PAYMENT_3D_AUDIT_V2 </font> </li> <li><font color=''#075590''> eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2 </font> </li> </ul> </li> </ul>'
      operationId: getPaymentDetails
      security:
        - Authorization: []
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaymentRequest'
            examples:
              Request:
                $ref: '#/components/examples/GetPaymentRequest'
      parameters:
        - $ref: '#/components/parameters/cem-key'
  /api/payment/v1/3rd/initiatePayment:
    post:
      deprecated: true
      tags:
        - Payment
      summary: Initiate Payment.
      description: '<b>Description:</b> This API used by 3rd Party to inititae payment by collecting all information about the payment<br><br> <b>Impacted Services:&nbsp;</b> <ul> <li>EAI MQ:&nbsp; <ul> <li><font color=''#075590''>No XML over MQ Calls</font> </li> </ul> </li> <li>DB tables:&nbsp; <ul> <li><font color=''#075590''> eedbusr.PAYMENT_3D_AUDIT_V2 </font> </li> <li><font color=''#075590''> eedbusr.PAYMENT_3D_AUDIT_SOURCE_V2 </font> </li> <li><font color=''#075590''> eedbusr.PAYMENT_3D_AUDIT_DETAILS </font> </li> <li><font color=''#075590''> eedbusr.PAYMENT_3D_AUDIT_CUSTOMER </font> </li> <li><font color=''#075590''> eedbusr.PAYMENT_ACTIONS_AUDIT_TBL </font> </li> </ul> </li> </ul>'
      operationId: post-mobily-sample
      security:
        - Authorization: []
      responses:
        '200':
          $ref: '#/components/responses/InitiatePaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymetnRequest'
            examples:
              OverDue Payment:
                $ref: '#/components/examples/OverDuePayment'
              Auction Deposit Payment:
                $ref: '#/components/examples/AuctionDepositPayment'
              Auction Payment:
                $ref: '#/components/examples/AuctionPayment'
              Cognigy GSM Payment:
                $ref: '#/components/examples/Cognigy-Chatbot-GSM-Payment'
              Roaming Deposit Payment:
                $ref: '#/components/examples/RoamingDepositPayment'
              Cognigy FTTH Payment:
                $ref: '#/components/examples/Cognigy-Chatbot-FTTH-Payment'
              eSales New eSIM Payment:
                $ref: '#/components/examples/eSalesNeweSIMPayment'
              eSales SIM Swap Payment:
                $ref: '#/components/examples/eSalesSIMSwapPayment'
              eSales MNP Payment:
                $ref: '#/components/examples/eSalesMNPPayment'
              Line Disconnection Payment:
                $ref: '#/components/examples/LineDisconnectionPayment'
        description: ''
      parameters:
        - $ref: '#/components/parameters/cem-key'
  /api/payment/v2/overdue:
    get:
      tags:
        - Payment
      summary: Retrieve the Over Due amounts of all the related lines.
      description: |
        **Summary:**
        This API is responsible to get all the related lines over due amount information associated with the line attached to the given access token.

        This API is only accessible to the below mentioned login types during Oauth access token generation.
          * account
          * otp
          * account-authenticated
          * client_credentials_with_msisdn

        **Impacted Services:**

          **EAI MQ:**

          1- MOBILY.FUNC.SEND.NOTIFICATIONS.REQ (Function Id: SEND_NOTIFICATIONS)
          
          **DB Tables:**

          N/A
      deprecated: false
      operationId: getOverDueAmounts
      security:
        - Authorization: []
      responses:
        '200':
          $ref: '#/components/responses/OverDueResponseV2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      parameters:
        - $ref: '#/components/parameters/cem-key'
  /api/payment/v1/vat:
    get:
      tags:
        - Payment
      summary: Get the calculated total amount including VAT for the given amount.
      description: |
        **Summary:**
        This API is responsible to get the calculated total amount including VAT for the given amount.

        This API is only accessible to the below mentioned login types during Oauth access token generation.
          * account
          * otp
          * account-authenticated
          * client_credentials_with_msisdn
          * client_credentials

        **Impacted Services:**

          **EAI MQ:**

          N/A
          
          **DB Tables:**

          N/A
      parameters:
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/cem-key'
      deprecated: false
      operationId: getVatAmount
      responses:
        '200':
          $ref: '#/components/responses/VATAmountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      security:
        - Authorization: []
  /api/payment/v2/vat:
    put:
      deprecated: true
      tags:
        - Payment
      summary: Get the calculated total amount including VAT for the given for the list of accounts (MSISDN/SAN).
      description: |
        **Summary:** This API is responsible to get the calculated total amount including VAT for the given amount against each account number.

        This API is only accessible to the below mentioned login types during Oauth access token generation.
          * account
          * otp
          * account-authenticated
          * client_credentials_with_msisdn
          * client_credentials

        **Impacted Services:**

          **EAI MQ:**

          N/A
          
          **DB Tables:**

          N/A
      operationId: updateVatAmounts
      security:
        - Authorization: []
      responses:
        '200':
          $ref: '#/components/responses/VATAmountsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/AppBaseResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VatAmountsRequest'
            examples:
              Request:
                $ref: '#/components/examples/VatAmountsRequest'
      parameters:
        - $ref: '#/components/parameters/cem-key'
  /api/services/clg/v1/graceeligiblelines:
    get:
      summary: Get Grace Eligible Lines
      tags:
        - B2C Bill and Payment
      responses:
        '200':
          $ref: '#/components/responses/200-GraceLines-Inquiry-response'
        '260':
          $ref: '#/components/responses/260-GraceLineInq-Validation-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      operationId: getGraceEligibleLInes
      description: "**Summary:**\n\n\t Description: Used to get the Grace eligible lines.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * MOBILY.FUNC.INQUIRY.MAPPER.REQ (funcid: GetGracePeriodInq) \n\n\n  * **DB Tables:**\n      * USER_SUBSCRIPTION\n\n**Supported Authentications:**\n * Password Login\n * Client Credentials with MSISDN\n * OTP Login\n\n**Supported Channels:**\n * Portal\n * Mobile App\n * IVR/USSD\n * ChatBot\n\n**Used By:**\n  * ChatBot\n"
      parameters:
        - name: channel
          in: header
          required: true
          schema:
            type: string
            enum:
              - B2C-IOS
              - B2C-ANDROID
              - PORTAL
              - B2B-ANDRIOD
              - B2B-IOS
              - IVR
              - USSD
              - ChatBot
            example: PORTAL
          description: Requester  Channel
        - name: referenceId
          in: header
          required: true
          schema:
            type: string
            maxLength: 50
            minLength: 10
            example: 4a4f6a4e-c677-4cd7-a074-4a8aa708a1df
          description: GUID reference for each request
        - schema:
            type: string
          in: header
          name: cem-key
      security:
        - Authorization: []
  /api/services/clg/v1/graceperiod:
    put:
      summary: Grace Reconnection
      operationId: increaseGracePeriod
      description: "**Summary:**\n\n\t Description: Used to get resume service for barred lines if grace period is there.\n\n\n**Impacted Services:**\n\n  * **EAI MQ:**\n      * MOBILY.FUNC.GRACE.PERIOD.CHANGE.REQ (funcid: IncreaseGracePeriod) \n\n\n  * **DB Tables:**\n      * USER_SUBSCRIPTION\n      * SR_GRACE_REQUESTS\n\n**Supported Authentications:**\n * Password Login\n * Client Credentials with MSISDN\n * OTP Login\n\n**Supported Channels:**\n * Portal\n * Mobile App\n * IVR/USSD\n * ChatBot\n\n**Used By:**\n  * ChatBot\n"
      tags:
        - B2C Bill and Payment
      responses:
        '204':
          $ref: '#/components/responses/204-Success-Response'
        '260':
          $ref: '#/components/responses/260-GraceExt-Validation-Response'
        '400':
          $ref: '#/components/responses/400-Error-Response'
        '401':
          $ref: '#/components/responses/401-Error-Response'
        '403':
          $ref: '#/components/responses/403-Error-Response'
        '404':
          $ref: '#/components/responses/404-Error-Response'
        '405':
          $ref: '#/components/responses/405-Error-Response'
        '409':
          $ref: '#/components/responses/409-Error-Response'
        '500':
          $ref: '#/components/responses/500-Error-Response'
        '502':
          $ref: '#/components/responses/502-Error-Response'
        '504':
          $ref: '#/components/responses/504-Error-Response'
        default:
          $ref: '#/components/responses/default-Error-Response'
      parameters:
        - name: channel
          in: header
          required: true
          schema:
            type: string
            enum:
              - B2C-IOS
              - B2C-ANDROID
              - PORTAL
              - B2B-ANDRIOD
              - B2B-IOS
              - IVR
              - USSD
              - ChatBot
            example: PORTAL
          description: Requester  Channel
        - name: referenceId
          in: header
          required: true
          schema:
            type: string
            maxLength: 50
            minLength: 10
            example: 4a4f6a4e-c677-4cd7-a074-4a8aa708a1df
          description: GUID reference for each request
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraceReconnectRequest'
            examples:
              GSM:
                $ref: '#/components/examples/GraceRequest-GSM'
              FTTH:
                $ref: '#/components/examples/GraceRequest-FTTH'
        description: Grace Reconnection request
      security:
        - Authorization: []
  /mobilybe/rest/clg/creditlimit/inquiry:
    post:
      tags:
        - B2C Bill and Payment
      operationId: post-creditLimit
      description: |
        **Summary:**

        This method is used to get credit limit of post-paid cosumer customer 

        **Impacted Services:**

          * **EAI MQ:**
              * MOBILY.INQ.CREDITLIMIT.REQUEST
              * EPORTAL.INQ.CREDITLIMIT.REPLY
              
          * ** Search Keyword in request XML:**
              * BALANCE_VALIDATION
      summary: Credit Limit Inquiry
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
      responses:
        '200':
          $ref: '#/components/responses/CreditLimitInquiryResponse'
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitEnquiryRequest'
            examples:
              Request:
                $ref: '#/components/examples/CreditLimitEnquiryRequest'
    parameters: []
  /mobilybe/rest/clg/creditlimit/update:
    post:
      tags:
        - B2C Bill and Payment
      summary: Credit Limit Update
      operationId: post-check
      responses:
        '200':
          $ref: '#/components/responses/CreditLimitInquiryResponse'
      description: |-
        **Summary:**

        This method is used to update credit limit of post-paid cosumer customer.

        **Impacted Services:**

          * **EAI MQ:**
              * MOBILY.FUNC.CREDIT.LIMIT.MNG.REQUEST
              * EPORTAL.FUNC.CREDITLIMIT.MNG.REPLY

              
          * ** Search Keyword in request XML:**
              * SET_CREDIT_LIMIT
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdationRequest'
            examples:
              Request:
                $ref: '#/components/examples/CreditLimitUpdationRequest'
        description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
    parameters: []
  /mobilybe/rest/clg/gracePeriod/update:
    post:
      tags:
        - B2C Bill and Payment
      summary: "Grace Period Updation (MSISDN) or 4.1.16.4\tGrace Period Updation (Account Number)"
      operationId: post-buyDataBundle
      responses:
        '200':
          $ref: '#/components/responses/GracePeriodUpdationResponse'
      description: |-
        **Summary:**

        This method is used to update grace period  of post-paid cosumer customer by using MSISDN or This method is used to update grace period  of post-paid cosumer customer by using service account number.
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GracePeriodUpdationRequest'
            examples:
              Request:
                $ref: '#/components/examples/GracePeriodUpdationRequest'
      parameters:
        - schema:
            type: string
          in: header
          name: cem-key
    parameters: []
  /mobilybe/rest/corporate/billing/downloadBill:
    post:
      summary: Download Bill
      operationId: post-linesinfolistOflines
      responses:
        '200':
          $ref: '#/components/responses/DownloadResponse'
      description: |-
        **Summary**

        Download the bill.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadRequest'
            examples:
              Request:
                $ref: '#/components/examples/DownloadRequest'
        description: ''
      tags:
        - B2B Bill and Payment
    parameters: []
  /mobilybe/rest/corporate/billing/freeResourceBalance:
    post:
      summary: Get free resource balance details
      operationId: post-freeResourceBalance
      responses:
        '200':
          $ref: '#/components/responses/FreeResourceBalanceResponse'
      description: |-
        **Summary**

        To get free resource balance details
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeResourceBalanceRequest'
            examples:
              Request:
                $ref: '#/components/examples/FreeResourceBalanceRequest'
      tags:
        - B2B Bill and Payment
  /mobilybe/rest/corporate/billing/getLastBillAndMonths:
    post:
      summary: Get Last Bill And Months
      operationId: post-card-edit
      responses:
        '200':
          $ref: '#/components/responses/GetLastMonthBillResponse'
      description: |-
        **Summary**

        The detailed bills for the current month and the previous months.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLastMonthBillRequest'
            examples:
              Reuqest:
                $ref: '#/components/examples/GetLastMonthBillRequest'
        description: ''
      tags:
        - B2B Bill and Payment
    parameters: []
  /mobilybe/rest/corporate/billing/lineBalance:
    post:
      summary: Line Balance
      operationId: post-lineBalance
      responses:
        '200':
          $ref: '#/components/responses/CorporateLineBalanceResponse'
      description: |-
        **Summary**

        Get balance for a corporate line.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateLineBalanceRequest'
            examples:
              Request:
                $ref: '#/components/examples/CorporateLineBalanceRequest'
      tags:
        - B2B Bill and Payment
  /mobilybe/rest/corporate/billing/list/lob:
    post:
      summary: Get Corporate Services Lookup
      operationId: post-card-add
      responses:
        '200':
          $ref: '#/components/responses/ServiceLookupResponse'
      description: |-
        **Summary**

        Return a list of corporate LOB as drop list.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
            examples:
              Request:
                $ref: '#/components/examples/GenericRequest'
        description: ''
      tags:
        - B2B Bill and Payment
    parameters: []
  /mobilybe/rest/corporate/billing/list/prepaid:
    post:
      summary: Get Prepaid Lines
      operationId: post-recharge-byvoucher
      description: |
        **Summary**

        Get Prepaid Lines.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Corporate-Prepaid-Accounts-Request'
            examples:
              Request:
                $ref: '#/components/examples/Corporate-Prepaid-Accounts-Request'
      responses:
        '200':
          $ref: '#/components/responses/Corporate-Prepaid-Accounts-Response'
      tags:
        - B2B Bill and Payment
    parameters: []
  /mobilybe/rest/corporate/billing/list/postpaid:
    post:
      summary: Get Postpaid Lines
      operationId: post card-list
      responses:
        '200':
          $ref: '#/components/responses/Corporate-Postpaid-Accounts-Response'
      description: |
        **Summary**

        Get Postpaid Lines.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Corporate-Postpaid-Accounts-Request'
            examples:
              Request:
                $ref: '#/components/examples/Corporate-Postpaid-Accounts-Request'
      tags:
        - B2B Bill and Payment
    parameters: []
  /mobilybe/rest/corporate/billing/resendBill:
    post:
      summary: Resend Bill
      operationId: post-userandsimdetails
      responses:
        '200':
          $ref: '#/components/responses/ResendBillResponse'
      description: |-
        **Summary**

        Send the detailed bills to the end user email in PDF format.
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/User_id'
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendBillRequest'
            examples:
              Request:
                $ref: '#/components/examples/ResendBillRequest'
      tags:
        - B2B Bill and Payment
    parameters: []
  /mobilybe/rest/corporate/creditlimit/getCreditLimitLineStatus:
    post:
      deprecated: true
      summary: ''
      operationId: post-getCreditLimitLineStatus
      responses:
        '200':
          $ref: '#/components/responses/CorporateCreditLimitResponse'
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          required: true
          description: Current user id.
        - schema:
            type: string
          in: header
          name: cem-key
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateCreditLimitRequest'
            examples:
              CreditLimitLineStatus Request:
                $ref: '#/components/examples/CorporateCreditLimitRequest'
        description: ''
      description: |-
        **Summary**

            Method used to list all users credit limit and ine status under CAP.
      tags:
        - B2B Bill and Payment
  /mobilybe/rest/corporate/payment/balance:
    post:
      summary: ''
      operationId: post-balance
      responses:
        '200':
          $ref: '#/components/responses/CorporateBalance-200-Response'
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
          description: Current user id.
          required: true
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateBalanceRequest'
            examples:
              Corporate balance request:
                $ref: '#/components/examples/CorporateBalanceRequest'
      description: |-
        **Summary**

            Method used to inquire about corporate balance.
      tags:
        - B2B Bill and Payment
  /mobilybe/rest/corporate/paymenthistory/accountLevelhistory:
    post:
      tags:
        - B2B Bill and Payment
      description: "**Summary:**\n\n\tMethod used for Service Level for Account Level Payment History Details"
      summary: Account Level
      operationId: post-accountLevelhistory
      responses:
        '200':
          $ref: '#/components/responses/PaymentHistoryAccountResponse'
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentHistoryAccountRequest'
            examples:
              Account Level Payment History Request:
                $ref: '#/components/examples/PaymentHistoryAccountRequestExample'
  /mobilybe/rest/corporate/paymenthistory/download:
    post:
      tags:
        - B2B Bill and Payment
      description: "**Summary:**\n\n\tMethod used To Download Account Level Payment History"
      summary: History Download
      operationId: post-download
      responses:
        '200':
          $ref: '#/components/responses/PaymentHistoryDownloadResponse'
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: header
          name: User_id
        - schema:
            type: string
          in: header
          name: cem-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentHistoryDownloadRequest'
            examples:
[...]
